<section class="partners">
    <h2 class="partners__title">Meet a partner for your
        best holiday</h2>
    <ul class="partners__list">
        <li class="partners__item">
            <div class="partners__item__img partners__item__img--first"></div>
            <span class="partners__item__symbol icon-tv"></span>

            <h3 class="partners__item__title">Bradley Hunter</h3>

            <p class="partners__item__text">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
        <li class="partners__item">
            <div class="partners__item__img partners__item__img--third">
                <img src="img/partner3.png" alt="partner3" class="partners__item__img"/>
            </div>
            <span class="partners__item__symbol icon-chem"></span>

            <h3 class="partners__item__title">Lucas Marsha</h3>

            <p class="partners__item__text">I get my inspiration from nature and objects around me. I have a passion
                to colours, typography and skateboards.</p>
        </li>
        <li class="partners__item">
            <div class="partners__item__img partners__item__img--second"></div>
            <span class="partners__item__symbol icon-coffee"></span>

            <h3 class="partners__item__title">Heather Walker</h3>

            <p class="partners__item__text">I'm a happy person that loves cats and climbing on mountains.</p>
        </li>
        <li class="partners__item">
            <div class="partners__item__img partners__item__img--fourth"></div>
            <span class="partners__item__symbol icon-plane"></span>

            <h3 class="partners__item__title">Bradley Hunter</h3>

            <p class="partners__item__text">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
    </ul>
    <button class="partners__button">See other partners</button>
</section>
