body {
	background-image: url(../images/wrapper.jpg);
	font-family: Tahoma;
	/*font-size: 14px;*/
	/*background-size: 100% 100% no-repeat;*/
}
.clearfix:after {
	content: ' ';
	clear: both;
	display: block;
}

.wrapper {
	width: 1000px;
	background-color: #ffffff;
	margin: 0 auto;
}

.header {
	width: 999px;
	margin: 0 auto;
}
.logo {
	height: 160px;
	float: left;
	padding: 25px;
}

.contacts {
	float: right;
	color: #329ab3;
	font-size: 12px;
	padding: 25px 40px;
}

.contacts p {
	display: block;
	padding-bottom: 10px;
	font-size: 12px;
	/*font-weight: bold;*/
}

.select{
	font-weight: 600;
}

.flags {
	float: right;
	margin-right: -174px;
	margin-top: 130px;
}

.flags li {
	padding: 8px;
	display: inline-block;
	text-align: center;
	
}

.flags a {
	color: #329ab3;
	font-size: 12px;
}

.flags a:hover {
	text-decoration: none;
}

.foto {
	width: 998px;
	/*height: 235px;
	border: 1px solid #128aa7;*/
}

.container {
	
}

.menu ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu ul:after {
	display: block;
	content: ' ';
	clear: both;
	float: none;
}

ul.menu > li > a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
}

ul.menu > li > a:hover {
	
}

ul.submenu {
	display: none;
	position: absolute;
	width: 120px;
	top: 37px;
	left: 0;
}

ul.submenu > li {
	display: block;
}

ul.submenu > li > a {
	display: block;
	padding: 10px;
}

ul.submenu > li > a:hover {
	text-decoration: none;
}

