.promo {
  width: 100%;
  height: 700px;
  background: $color1;
  color: $color2;
  font-family: Montserrat, sans-serif;
  text-align: center;

  &--wrapper {
    width: 100%;
    height: 100%;
    background-image: url("../img/promo.png");
    background-position: center;
    background-size: cover;
  }

  &__header {
    padding-top: 38px;

    &__connect {
      float: right;
      margin-right: 17.3%;

      &--link {
        display: inline-block;
        padding: 12px 18px 10px 19px;
        color: $color2;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;

        &:hover {
          border: 2px solid $color2;
          border-radius: 30px;
          padding: 8px 16px 8px 17px;
        }
      }
    }

    &__title {
      float: left;
      clear: left;
      margin-left: 17.3%;
      padding-top: 10px;
      color: $color2;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }

  &__info {
    clear: both;
    margin-top: 178px;

    &__title {
      margin: 0 30%;
      font-size: 52px;
      line-height: 1.2;
      text-transform: uppercase;
    }

    &__text {
      padding-top: 25px;
      padding-bottom: 17px;
      font-family: Roboto, sans-serif;
      font-size: 24px;
      letter-spacing: 0.2px;
    }

    &__button {
      margin-top: 19px;
      background: $color3;
      border: 0;
      border-radius: 30px;
      color: $color2;
      cursor: pointer;
      font-size: 14px;
      padding: 12px 23px;
      &:hover {
        background: $color5;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
